body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba, rgba(0, 0, 0, 0.3));
}

.navbar {
  background: linear-gradient(rgba(253, 118, 0, 0.993), rgb(0, 0, 0));
  padding: 100px;
  text-align: center;
  position: relative; /* Ensure positioning of the library icon */
  display: flex;
  align-items: center;
  flex-direction: column; /* Set flex direction to column */
}

h1 {
  margin: 10px 0; /* Add margin to create space between the icon and h1 */
  text-align: center;
}

.icon-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.library-icon {
  width: 40px;
  height: auto;
}

.container-input {
  display: inline-block;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
}

#searchButton,
#resetButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 10px;
  transition: transform 0.3s ease-out; /* Add transition */
}

#resetButton {
  background-color: #f44336;
}

#searchButton:hover,
#resetButton:hover {
  transform: scale(0.9); /* Apply transform on hover */
}

#loading {
  text-align: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}

#results {
  margin: 20px;
}

.book {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  transition: background-color 0.5s ease;
  border-radius: 5px;
}

.book:hover {
  background-color: #605b5b81;
  animation: bookAnimation 0.5s ease infinite alternate;
}

@keyframes bookAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(5px);
  }
}
