/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
}

#searchButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#results {
  margin: 20px;
}

.book {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.book:hover {
  background-color: #f9f9f9;
}
