body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba,rgba(0, 0, 0, 0.3));
  background: linear-gradient(orange, black);
}

header {
 
  padding: 70px;
  text-align: center;
}

h1 {
  margin: 0;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
}

#searchButton,
#resetButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

#resetButton {
  background-color: #f44336;
  margin-left: 15px;
}

#searchButton:hover,
#resetButton:hover {
  transform: scale(0.9);
}

#loading {
  text-align: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}

#results {
  margin: 20px;
}

.book {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  transition: filter 0.5s ease;
}

.book:hover {
  filter: blur(0px); /* Reset blur effect */
}

.book:not(:hover) {
  filter: blur(3px); /* Apply blur effect to non-hovered books */
}